.redes_sociales_float {
    background: var(--text-black);
    padding: 5px;

    position: fixed;
    top: 200px;
    right: -50px;
    z-index: var(--zposition-third);

    display: grid;
    gap: 5px;

    transition: right .2s;
}

.show_redes_float {
    right: 0;
}

.redes_sociales_float i {
    font-size: 2rem;
    color: var(--text-color-main);
    cursor: pointer;

    transition: color .1s;
}

.redes_sociales_float i:hover {
    color: var(--orange);
}

.btn__wsp {
    background: #25D366;
    padding: 2px;

    position: fixed;
    bottom: 110px;
    right: -50px;
    z-index: var(--zposition-third);

    transition: right .2s;
}

.show__btn__wsp {
    right: 10px;
}

.btn__wsp i {
    font-size: 2.2rem;
    color: var(--text-color-main);
}

.btn__email {
    background: var(--text-color-main);
    padding: 2px;
    cursor: pointer;

    position: fixed;
    bottom: 60px;
    right: -50px;
    z-index: var(--zposition-third);

    transition: right .2s;
}

.btn__email i {
    font-size: 2.2rem;
    color: var(--text-black);
}

.show__btn__email {
    right: 10px;
}

.arrow_top {
    width: 40px;
    height: 40px;
    background: transparent;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 10px;
    right: 10px;

    z-index: var(--zposition-second);

    transition: background .2s;
}

.arrow_top i {
    color: transparent;
    font-size: 2rem;

    transition: color .2s;
}

.show_arrow_top {
    background: var(--yellow);
    cursor: pointer;
}

.show_arrow_top i {
    cursor: pointer;
    color: var(--text-color-white);
}