.experience {
    padding: 3rem 0;
}

.text__experience {
    display: grid;
    text-align: center;
    padding-bottom: 2rem;
}

.text__experience i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--yellow);
}

.text__experience span:nth-child(2) {
    font-weight: 800;
    font-size: 1rem;
    color: var(--text-light-black);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text__experience > h3 {
    font-size: 1.5rem;
    color: var(--text-black);
}

.boxes__experience {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.box__experience {
    border: 2px solid var(--border-box);
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.box__experience h3 {
    color: var(--text-black);
    font-size: 1.4rem;
}

.box__experience p {
    color: var(--text-light-black);
    font-size: 1.2rem;
}

.box__experience i {
    font-size: 4rem;
    color: var(--text-light-black);
}

@media (min-width: 500px) {
    .text__experience span:nth-child(2) {
        font-size: 1.2rem;
    }

    .text__experience > h3 {
        font-size: 2rem;
    }

    .box__experience h3 {
        font-size: 1.3rem;
    }

    .box__experience p {
        font-size: 1.3rem;
    }

    .text__experience i {
        font-size: 5rem;
    }

    .box__experience i {
        font-size: 6rem;
    }
}
