.video-bg {
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scaleX(-1);
    -o-object-position: center 70%;
    object-position: 50% 80%;
    z-index: var(--zposition-first);
}

.capa-video {
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.6);

    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--zposition-second);
}

.content__main {
    padding-top: 15rem;
}

.text__main {
    width: 90%;
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 6rem;

    position: relative;
    z-index: var(--zposition-second);
}

.text__main h1 {
    font-size: 2rem;
    color: var(--text-color-main);
    text-transform: uppercase;
}

main button {
    border: none;
    padding: 5px 10px;
    background: var(--yellow);
    color: var(--text-color-main);
    cursor: pointer;
    font-weight: bold;
}

.slogan {
    background: var(--yellow);
    padding: 2rem 1rem;
    text-align: center;

    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

    position: relative;
    z-index: 2100;
}

.slogan h3 {
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text-color-main);
}

.slogan button {
    width: 150px;
    margin: auto;
    background: none;
    border: 3px solid var(--text-color-main);

    transition: border-color 0.1s, background 0.1s, color 0.1s;
}

.slogan button:hover {
    border-color: transparent;
    background: var(--text-color-main);
    color: var(--yellow);
}

@media (min-width: 500px) {
    main {
        background-image: none;
    }

    .content__main {
        position: relative;
    }

    .slogan h3 {
        font-size: 1.5rem;
    }

    main button {
        padding: 1rem;
        font-size: 1.2rem;
    }
}
