.services {
    padding: 2rem 0;
}

.text__services__head {
    display: grid;
    text-align: center;
    padding-bottom: 2rem;
}

.text__services__head i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--yellow);
}

.text__services__head span:nth-child(2),
.text__services > span:nth-child(1) {
    font-weight: 800;
    font-size: 1rem;
    color: var(--text-light-black);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text__services__head h3:nth-child(3) {
    font-size: 1.5rem;
    color: var(--text-black);
}

.boxes__services {
    display: grid;
    gap: 2rem;
}

.box__service {
    border: 2px solid var(--border-box);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__service img {
    max-height: 350px;
}

.text__services {
    padding: 1rem;
    padding-bottom: 2rem;
}

.text__services > span:nth-child(1) {
    color: var(--yellow);
}

.text__services h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.service__list {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service__list span {
    background: var(--text-black);
    color: var(--text-color-white);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 5px;
    cursor: pointer;

    transition: color 0.1s;
}

.service__list span:hover {
    color: var(--yellow);
}

.btn__services {
    width: 70%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 2rem;
    cursor: pointer;
}

.btn__services span,
.btn__services i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
}

.btn__services span {
    background: var(--border-box);
    font-weight: 600;

    transition: background 0.1s, color 0.1s;
}

.btn__services span:hover {
    background: var(--orange);
    color: var(--text-color-main);
}

.btn__services i {
    background: var(--text-black);
    color: var(--text-color-white);
}

@media (min-width: 500px) {
    .text__services__head i {
        font-size: 5rem;
    }

    .text__services__head span:nth-child(2),
    .text__services > span:nth-child(1) {
        font-size: 1.2rem;
    }

    .text__services__head h3:nth-child(3) {
        font-size: 2rem;
    }

    .text__services h3 {
        font-size: 1.5rem;
    }

    .service__list span {
        font-size: 1.2rem;
    }
}

@media (min-width: 750px) {
    .boxes__services {
        grid-template-columns: 1fr 1fr;
    }
}
