.testimonials {
    background: var(--text-black);
    padding: 3rem 0;
    color: var(--text-color-white);
}

.content__testimonial > h3 {
    font-size: 1.8rem;
    color: var(--text-color-white);
    margin-bottom: 2rem;
}

.boxes__testimonials {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.text__testimonial {
    border: 1px solid var(--text-color-white);
    padding: 1rem;
    padding-bottom: 2rem;

    position: relative;
    z-index: var(--zposition-first);
}

.box__bottom__testimonial {
    height: 10vh;
}

.text__testimonial p {
    font-style: italic;
    font-size: 1.2rem;
    line-height: 30px;
}

.box__person {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: var(--text-color-main);

    position: absolute;
    bottom: -50px;
}

/* .box__person img {
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
} */
.box__person div {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__person div i {
    color: black;
    font-size: 2rem;
}

@media (min-width: 500px) {
    .content__testimonial > h3 {
        font-size: 2rem;
    }

    .text__testimonial p {
        font-size: 1.2rem;
    }
}
